<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <description>Home servlet</description>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.crni.servlets.HomeServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <display-name>PrijavaKorisnika</display-name>
        <servlet-name>PrijavaKorisnika</servlet-name>
        <servlet-class>com.crni.servlets.PrijavaKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>OdjavaKorisnika</display-name>
        <servlet-name>OdjavaKorisnika</servlet-name>
        <servlet-class>com.crni.servlets.OdjavaKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
            Služi za registraciju novog korisnika.</description>
        <display-name>NoviKorisnik</display-name>
        <servlet-name>NoviKorisnik</servlet-name>
        <servlet-class>com.crni.servlets.NoviKorisnikServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Katalog</display-name>
        <servlet-name>Katalog</servlet-name>
        <servlet-class>com.crni.servlets.KatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>MojProfil</display-name>
        <servlet-name>MojProfil</servlet-name>
        <servlet-class>com.crni.servlets.MojProfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavaKorisnika</servlet-name>
        <url-pattern>/PrijavaKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdjavaKorisnika</servlet-name>
        <url-pattern>/OdjavaKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoviKorisnik</servlet-name>
        <url-pattern>/NoviKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Katalog</servlet-name>
        <url-pattern>/Katalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MojProfil</servlet-name>
        <url-pattern>/MojProfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
